<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<!-- <a class="navbar-brand" href=""><img ></a> -->
<!-- <a href="https://www.3tl.com/"><img src="../../public/images/3tierlogic.png"></a> -->
<!-- <a href="https://www.3tl.com/"><i>3tierlogic</i></a> -->

<!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul> -->
<!-- </nav> -->