<meta charset="UTF-8">
<title>3tierlogic ReceiptDetails</title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="sorttable.js"></script>

<style>
    body {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .bg-light {
        /* background-color: #022b5a !important; */
        background-color: transparent !important;
        padding-bottom: 20px;
    }
    
    .jumbotron {
        padding: 1rem 1rem;
        margin-bottom: 2rem;
        background-color: #fa5e0a;
        border-radius: .3rem;
    }
    
    .table,
    h1 {
        color: white;
    }
    
    .navbar-light .navbar-brand {
        color: white;
    }
    /* TABLE */
    
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: white !important;
        color: #022b5a !important;
    }
    
    tr {
        background-color: #022b5a;
    }
    
    tr:hover {
        background-color: #ddd;
        color: #022b5a;
        cursor: pointer;
    }
    
    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
</style>